{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">

        <li class="breadcrumb-item active" aria-current="page">
            حذف محصول
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body text-center">
    <h4 class="text-danger">آیا مطمئنی که می‌خواهی این محصول را حذف کنی؟</h4>
    <p>نام محصول: <strong>{{ object.title }}</strong></p>
    <p>کد محصول: <strong>{{ object.pk }}</strong></p>

    <form action="{% url 'dashboard:admin:product-delete' pk=object.pk %}" method="post">
      {% csrf_token %}
      <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="{% url 'dashboard:admin:products-list' %}" class="btn btn-secondary">بازگشت</a>
        <button type="submit" class="btn btn-danger">بله، حذف شود</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}