{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">

        <li class="breadcrumb-item active" aria-current="page">
          ویرایش محصول
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}

<form action="{% url 'dashboard:admin:product-update' pk=form.instance.pk %}" method="post" enctype="multipart/form-data" class="card">
  {% csrf_token %}

  <!-- Header -->
  <div class="card-header border-bottom">
    <h5 class="card-header-title">ویرایش / ساخت محصول</h5>
  </div>

  <!-- Body -->
  <div class="card-body">
    <div class="row d-flex">

      <!-- نام محصول -->
      <div class="col-md-6 mb-3">
        <label for="{{ form.title.id_for_label }}">نام محصول</label>
        {{ form.title|add_class:"form-control is-valid" }}
        <div class="text-danger small">{{ form.title.errors }}</div>
      </div>

      <!-- اسلاگ -->
      <div class="col-md-6 mb-3">
        <label for="{{ form.slug.id_for_label }}">اسلاگ (slug)</label>
        {{ form.slug|add_class:"form-control is-valid" }}
        <div class="text-danger small">{{ form.slug.errors }}</div>
      </div>

      <!-- تعداد -->
      <div class="col-md-6 mb-3">
        <label for="{{ form.stock.id_for_label }}">تعداد</label>
        {{ form.stock|add_class:"form-control is-valid" }}
        <div class="text-danger small">{{ form.stock.errors }}</div>
      </div>

      <!-- وضعیت -->
      <div class="col-md-6 mb-3">
        <label for="{{ form.status.id_for_label }}">وضعیت</label>
        {{ form.status|add_class:"form-select is-valid" }}
        <div class="text-danger small">{{ form.status.errors }}</div>
      </div>

      <!-- دسته‌بندی -->
      <div class="col-md-6 mb-3">
        <label for="{{ form.category.id_for_label }}">دسته‌بندی</label>
        {{ form.category|add_class:"form-select is-valid" }}
        <div class="text-danger small">{{ form.category.errors }}</div>
      </div>

      <!-- قیمت -->
      <div class="col-md-4 mb-3">
        <label for="{{ form.price.id_for_label }}">قیمت</label>
        {{ form.price|add_class:"form-control is-valid" }}
        <div class="text-danger small">{{ form.price.errors }}</div>
      </div>


      <!-- درصد تخفیف (اختیاری اگر در فرم هست) -->
      {% if form.discount_percent %}
      <div class="col-md-2 mb-3">
        <label for="{{ form.discount_percent.id_for_label }}">درصد تخفیف</label>
        {{ form.discount_percent|add_class:"form-control is-valid" }}
        <div class="text-danger small">{{ form.discount_percent.errors }}</div>
      </div>
      {% endif %}

      <!-- توضیح کوتاه -->
      <div class="col-md-12 mb-3">
        <label for="{{ form.brief_description.id_for_label }}">توضیح کوتاه</label>
        {{ form.brief_description|add_class:"form-control is-valid" }}
        <div class="text-danger small">{{ form.brief_description.errors }}</div>
      </div>

      <!-- توضیحات -->
      <div class="col-md-12 mb-3">
        <label for="{{ form.description.id_for_label }}">توضیحات</label>
        <div class="quill-custom">
          {{ form.description|add_class:"form-control js-quill" }}
          <div class="text-danger small">{{ form.description.errors }}</div>
        </div>
      </div>

      <!-- تصویر -->
      <div class="col-md-12 mb-3">
        <label for="{{ form.image.id_for_label }}">تصویر محصول</label>
        {{ form.image|add_class:"form-control is-valid" }}
        <div class="text-danger small">{{ form.image.errors }}</div>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <div class="card-footer d-flex pt-4 justify-content-end gap-3">
    <a class="btn btn-danger" href="{% url 'dashboard:admin:product-delete' pk=object.pk %}">حذف</a>
    <a class="btn btn-secondary" href="{% url 'dashboard:admin:products-list' %}">بازگشت</a>
    <button type="submit" class="btn btn-primary">ثبت تغییرات</button>
  </div>
</form>



{% endblock %}