{% extends 'basses/base.html' %}
{% load static %}
{% load humanize %}
{% load cart_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>فروشگاه: سبد خرید | جلو - قالب چند منظوره پاسخگو</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}?v=1.0">
</head>

<body>
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Content -->
    <div class="container content-space-1 content-space-lg-2">
        <div class="row">
            <div class="col-lg-8 mb-7 mb-lg-0">
                <!-- Heading -->
                <div class="d-flex justify-content-between align-items-end border-bottom pb-3 mb-7">
                    <h1 class="h3 mb-0">سبد خرید</h1>
                    <span>{{ cart.get_total_quantity }} مورد</span>
                </div>
                <!-- End Heading -->

                <!-- Form -->
                <form>
                    <!-- List Group -->

                    <ul class="list-group list-group-flush list-group-no-gutters mb-5">
                        {% for item in items %}
                        <!-- Item -->
                        <li class="list-group-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img class="avatar avatar-xl avatar-4x3" src="{{ item.product.image.url }}"
                                         alt="{{ item.product.title }}">
                                </div>

                                <div class="flex-grow-1 ms-3">
                                    <div class="row">
                                        <div class="col-sm-7 mb-3 mb-sm-0">
                                            <h5><a class="text-dark" href="#">{{ item.product.title }}</a></h5>

                                            <div class="d-block d-sm-none">
                                                <h5 class="mb-1">{{ item.product.price }} تومان</h5>
                                            </div>

                                            <div class="d-grid gap-1">
                                                <div class="text-body">
                                                    <span class="small">دسته بندی:</span>
                                                    {% for category in item.product.category.all %}
                                                        <a class="link-sm link-secondary" href="#">{{ category.title }}</a>
                                                        {% if not forloop.last %}, {% endif %}
                                                    {% empty %}
                                                        <p>No categories available.</p>
                                                    {% endfor %}
                                                </div>


                                                <div class="text-body">
                                                    <span class="small">تعداد:</span>
                                                    <span class="fw-semibold small">{{ item.quantity }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Col -->

                                        <div class="col-sm-3">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <!-- Select -->
                                                    <select class="form-select form-select-sm mb-3"
                                                            name="quantity"
                                                            onchange="updateQuantity({{ item.product.id }}, this.value)">
                                                      {% for i in "123456789"|make_list %}
                                                        <option value="{{ i }}"
                                                          {% if i|stringformat:"i" == item.quantity|stringformat:"i" %}selected{% endif %}>
                                                          {{ i }}
                                                        </option>
                                                      {% endfor %}
                                                    </select>



                                                    <!-- End Select -->
                                                </div>

                                                <div class="col-auto">
                                                    <div class="d-grid gap-2">
                                                        <a href="javascript:void(0);" class="link-sm link-secondary small" onclick="removeFromCart({{ item.product.id }})" id="remove-link-{{ item.product.id }}">
                                                            <i class="bi-trash me-1"></i> حذف
                                                        </a>


                                                        <a class="link-sm link-secondary small" href="javascript:;">
                                                            <i class="bi-heart-fill ms-1 "></i>جزو علایق
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- End Col -->
                                            </div>
                                            <!-- End Row -->
                                        </div>
                                        <!-- End Col -->

                                       <div class="col-4 col-sm-2 d-none d-sm-inline-block text-right">                                            <span class="h5 d-block mb-1">
                                                {% if item.discounted_price %}
                                                    {{ item.discounted_price }} تومان
                                                {% else %}
                                                    <p class="text-dark fw-bold">
                                                      {{ item.price|floatformat:0|intcomma }} تومان
                                                    </p>
                                                {% endif %}
                                            </span>
                                        </div>


                                        <!-- End Col -->
                                    </div>
                                    <!-- End Row -->
                                </div>
                            </div>
                        </li>
                        <!-- End Item -->
                        {% endfor %}

                    </ul>
                    <!-- End List Group -->

                    <div class="d-sm-flex justify-content-end">
                        <a class="link" href="{% url 'shop:products-grid' %}">
                            به خرید ادامه دهید <i class="bi-chevron-left small ms-1"></i>
                        </a>
                    </div>
                </form>
                <!-- End Form -->
            </div>
            <!-- End Col -->

            <div class="col-lg-4">
                <div class="ps-lg-4">
                    <!-- Card -->
                    <div class="card card-sm shadow-sm mb-4">
                        <div class="card-body">
                            <div class="border-bottom pb-4 mb-4">
                                <h3 class="card-header-title">خلاصه هزینه</h3>
                            </div>
                            <form>

                                <div class="d-grid gap-3 mb-4">
                                    <dl class="row">
                                        <dt class="col-sm-6">مالیات</dt>
                                        <dd class="col-sm-12 text-sm-end mb-0">به همراه 9% در هنگام پرداخت</dd>
                                    </dl>
                                    <!-- End Row -->

                                    <dl class="row">
                                        <dt class="col-sm-6">جمع</dt>
                                        <dd class="col-sm-12 text-sm-end mb-0">
                                          {{ total_price|floatformat:0|intcomma }} تومان
                                        </dd>
                                    </dl>
                                    <!-- End Row -->
                                </div>

                                <div class="d-grid">
                                    <a class="btn btn-primary btn-lg" href="/checkout.html">ثبت سفارش</a>
                                </div>
                            </form>
                        </div>
                        <!-- End Card -->
                    </div>

                    <!-- Media -->
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <div class="svg-icon svg-icon-sm text-primary">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M22.1671 18.1421C22.4827 18.4577 23.0222 18.2331 23.0206 17.7868L23.0039 13.1053V5.52632C23.0039 4.13107 21.8729 3 20.4776 3H8.68815C7.2929 3 6.16183 4.13107 6.16183 5.52632V9H13C14.6568 9 16 10.3431 16 12V15.6316H19.6565L22.1671 18.1421Z"
                                          fill="#035A4B"/>
                                    <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                                          d="M1.98508 18V13C1.98508 11.8954 2.88051 11 3.98508 11H11.9851C13.0896 11 13.9851 11.8954 13.9851 13V18C13.9851 19.1046 13.0896 20 11.9851 20H4.10081L2.85695 21.1905C2.53895 21.4949 2.01123 21.2695 2.01123 20.8293V18.3243C1.99402 18.2187 1.98508 18.1104 1.98508 18ZM5.99999 14.5C5.99999 14.2239 6.22385 14 6.49999 14H11.5C11.7761 14 12 14.2239 12 14.5C12 14.7761 11.7761 15 11.5 15H6.49999C6.22385 15 5.99999 14.7761 5.99999 14.5ZM9.49999 16C9.22385 16 8.99999 16.2239 8.99999 16.5C8.99999 16.7761 9.22385 17 9.49999 17H11.5C11.7761 17 12 16.7761 12 16.5C12 16.2239 11.7761 16 11.5 16H9.49999Z"
                                          fill="#035A4B"/>
                                </svg>

                            </div>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            <span class="small me-1">نیاز به پشتیبانی دارید؟</span>
                            <a class="link small" href="#">ارسال تیکت</a>
                        </div>
                    </div>
                    <!-- End Media -->
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Content -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->


<!-- Go To -->
<a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
</a>

<!-- Offcanvas Search -->
<div class="offcanvas offcanvas-top offcanvas-navbar-search bg-light" tabindex="-1" id="offcanvasNavbarSearch">
    <div class="offcanvas-body">
        <div class="container">
            <div class="w-lg-75 mx-lg-auto">
                <div class="d-flex justify-content-end mb-3">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>

                <div class="mb-7">
                    <!-- Form -->
                    <form>
                        <!-- Input Card -->
                        <div class="input-card">
                            <div class="input-card-form">
                                <input type="text" class="form-control form-control-lg" placeholder="جستجو محصولات"
                                       aria-label="جستجو محصولات">
                            </div>
                            <button type="button" class="btn btn-primary btn-lg">جستجو</button>
                        </div>
                        <!-- End Input Card -->
                    </form>
                    <!-- End Form -->
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Offcanvas Search -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarShoppingCart">
    <div class="offcanvas-header justify-content-end border-0 pb-0">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <div class="text-center">
            <div class="mb-5">
                <img class="avatar avatar-xl avatar-4x3" src="{% static 'assets/svg/illustrations/oc-empty-cart.svg' %}"
                     alt="SVG">
            </div>

            <div class="mb-5">
                <h3>سبد خرید شما در حال حاضر خالی است</h3>
                <p>قبل از شروع تسویه حساب، باید محصولاتی را به سبد خرید خود اضافه کنید. در صفحه "فروشگاه" ما محصولات
                    جالب
                    زیادی پیدا خواهید کرد.</p>
            </div>

            <a class="btn btn-primary btn-transition rounded-pill px-6" href="/index.html">شروع به خرید کنید</a>
        </div>
    </div>
</div>
<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- JS Implementing Plugins -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- JS Front -->
<script src="{% static 'assets/js/theme.min.js' %}"></script>

<!-- JS Plugins Init. -->
<script>
    (function () {
      // INITIALIZATION OF MEGA MENU
      // =======================================================
      new HSMegaMenu('.js' %}-mega-menu', {
        desktop: {
          position: 'left'
        }
      })


      // INITIALIZATION OF SHOW ANIMATIONS
      // =======================================================
      new HSShowAnimation('.js' %}-animation-link')


      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js' %}-validate', {
        onSubmit: data => {
          data.event.preventDefault()
          alert('Submited')
        }
      })


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js' %}-go-to')
    })()
</script>
<script>
    function removeFromCart(productId) {
        console.log("🗑 حذف از سبد:", productId);

        $.ajax({
            url: '{% url "cart:delete-products" %}',  // آدرس URL حذف شما
            type: 'POST',
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                console.log("✅ حذف شد:", response);
                location.reload();


                // اختیاری: آیتم رو از DOM حذف کن
                $("#cart-item-" + productId).remove();

                // یا تعداد محصولات در navbar رو آپدیت کن
                // $("#cart-count").text(response.cart.length);
            },
            error: function(xhr) {
                console.error("❌ خطا در حذف:", xhr.status, xhr.statusText);
            }
        });
    }
</script>

<script>
function updateQuantity(product_id,quantity){
        $.ajax({
            url: "{%  url 'cart:update-quantity' %}",
            method: 'POST',
            data: {
                product_id: product_id,
                quantity: quantity,
                csrfmiddlewaretoken: '{{ csrf_token }}'

            },
            success: function (response) {
                console.log(response);
                window.location.reload();
                // do something with the response data
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
                // handle the error case
            }
        });
    }

</script>

</body>

</html>
{% endblock content %}