{% extends 'basses/base.html' %}

{% block content %}
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">فرم ثبت نام</h1>
            <p>برای ثبت نام کافیست فرم زیر را پر نمایید</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
        <form action="{% url 'accounts:signup' %}" method="post" class="js-validate needs-validation" novalidate>
            {% csrf_token %}

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label" for="signupSimpleSignupEmail">ایمیل شما</label>
                <input type="email" class="form-control form-control-lg text-center" name="email"
                       id="signupSimpleSignupEmail"
                       placeholder="email@site.com" aria-label="email@site.com" required
                       value="{{ form.email.value|default_if_none:'' }}">
                {% if form.email.errors %}
                <div class="invalid-feedback d-block">{{ form.email.errors.0 }}</div>
                {% endif %}
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label class="form-label" for="signupSimpleSignupPassword">رمز عبور</label>
                <div class="input-group input-group-merge">
                    <input type="password" class="js-toggle-password form-control form-control-lg text-center"
                           name="password1" id="signupSimpleSignupPassword"
                           placeholder="8+ characters required" required>
                    <a class="js-toggle-password-target-1 input-group-append input-group-text" href="javascript:;">
                        <i class="js-toggle-passowrd-show-icon-1 bi-eye"></i>
                    </a>
                </div>
                {% if form.password1.errors %}
                <div class="invalid-feedback d-block">{{ form.password1.errors.0 }}</div>
                {% endif %}
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
                <label class="form-label" for="signupSimpleSignupConfirmPassword">تأیید رمز عبور</label>
                <div class="input-group input-group-merge">
                    <input type="password" class="js-toggle-password form-control form-control-lg text-center"
                           name="password2" id="signupSimpleSignupConfirmPassword"
                           placeholder="8+ characters required" required>
                    <a class="js-toggle-password-target-2 input-group-append input-group-text" href="javascript:;">
                        <i class="js-toggle-passowrd-show-icon-2 bi-eye"></i>
                    </a>
                </div>
                {% if form.password2.errors %}
                <div class="invalid-feedback d-block">{{ form.password2.errors.0 }}</div>
                {% endif %}
            </div>

            <!-- Captcha -->
            <div class="mb-4">
                <label class="form-label d-block mb-2 text-center">کد امنیتی</label>
                <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
                    <!-- فیلد ورود کد -->
                    <div style="min-width: 150px;">
                        {{ form.captcha }}
                        {% if form.captcha.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.captcha.errors.0 }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Privacy Checkbox -->
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheck"
                       name="signupFormPrivacyCheck" required>
                <label class="form-check-label small" for="signupHeroFormPrivacyCheck">
                    با <a href="#">سیاست حفظ حریم خصوصی</a> موافقم
                </label>
                <span class="invalid-feedback">لطفاً سیاست حفظ حریم خصوصی را بپذیرید.</span>
            </div>

            <!-- Submit -->
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">ثبت‌نام</button>
            </div>

            <!-- Redirect -->
            <div class="text-center">
                <p>حساب دارید؟ <a class="link" href="{% url 'accounts:login' %}">وارد شوید</a></p>
            </div>

            <!-- نمایش ارورهای فرم کلی -->
            {% if form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                {% for error in form.non_field_errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
