{% extends 'dashboard/admin/base.html' %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item active" aria-current="page">
            پروفایل ادمین
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<!-- Card -->
<form action="{% url 'dashboard:admin:profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="card">
        <div class="card-header border-bottom">
            <h4 class="card-header-title">اطلاعات پایه</h4>
        </div>

        <!-- Body -->
        <div class="card-body">

            <!-- عکس پروفایل -->
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">عکس پروفایل</label>
                <div class="col-sm-9">
                    <div class="d-flex align-items-center">
                        <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                            <img id="avatarImg" class="avatar-img"
                                 src="{{ form.image.value.url }}"
                                 alt="Image Description">
                        </label>

                        <div class="d-grid d-sm-flex gap-2 me-4">
                            <div class="form-attachment-btn btn btn-primary btn-sm">آپلود عکس
                                <input type="file" class="js-file-attach form-attachment-btn-label"
                                       id="avatarUploader" name="image"
                                       data-hs-file-attach-options='{
                                          "textTarget": "#avatarImg",
                                          "mode": "image",
                                          "targetAttr": "src",
                                          "resetTarget": ".js-file-attach-reset-img",
                                          "resetImg": "/static/default-avatar.jpg",
                                          "allowTypes": [".png", ".jpeg", ".jpg"]
                                       }'>
                            </div>
                            <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">حذف</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- نام و نام خانوادگی -->
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">نام و نام خانوادگی</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" name="first_name" placeholder="نام"
                               value="{{ form.first_name.value }}">
                        <input type="text" class="form-control" name="last_name" placeholder="نام خانوادگی"
                               value="{{ form.last_name.value }}">
                    </div>
                </div>
            </div>

            <!-- ایمیل -->
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">ایمیل</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" name="email"
                           placeholder="your@email.com" value="{{ user.email }}">
                </div>
            </div>

            <!-- تلفن -->
            <div class="row mb-4">
                <label class="col-sm-3 col-form-label form-label">تلفن</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="phone_number" placeholder="+98..."
                           value="{{ form.phone_number.value }}">
                </div>
            </div>

        </div>

        <!-- Footer -->
        <div class="card-footer pt-0">
            <div class="d-flex justify-content-end gap-3">
                <button class="btn btn-primary" type="submit">ذخیره تغییرات</button>
            </div>
        </div>
    </div>
</form>

<!-- End Card -->

{% endblock %}